In [ ]:
# !pip install pyod
# %load_ext autotime

In [1]:
%load_ext autotime

time: 0 ns (started: 2023-09-07 10:22:20 -03:00)

In [2]:
import pandas as pd
from CalcularDezenas import CalcularDezenas as cd
import itertools
import swifter
from collections import Counter
import os
import glob

time: 2.19 s (started: 2023-09-07 10:22:23 -03:00)

In [3]:
os.getcwd()

'E:\\Arquivos\\devops\\melhor-aposta-ms-final\\codigo_jupyter\\analisa_resultados_ms'

time: 0 ns (started: 2023-09-07 10:22:25 -03:00)

In [104]:
pd.set_option('display.max_colwidth', None)
pd.options.mode.chained_assignment = None

time: 0 ns (started: 2023-09-07 13:52:40 -03:00)

In [105]:
# %load_ext autotime

time: 0 ns (started: 2023-09-07 13:52:41 -03:00)

In [106]:
df = pd.read_excel('../../data/resultados-caixa/Mega-Sena.xlsx', parse_dates=['Data do Sorteio'])

time: 734 ms (started: 2023-09-07 13:52:41 -03:00)

C:\Users\PC PERFORMANCE\AppData\Local\Temp\ipykernel_13936\1972361050.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df = pd.read_excel('../../data/resultados-caixa/Mega-Sena.xlsx', parse_dates=['Data do Sorteio'])

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2616 entries, 0 to 2615
Data columns (total 20 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Concurso                                   2616 non-null   int64
 1   Data do Sorteio                            2616 non-null   datetime64[ns]
 2   Bola1                                      2616 non-null   int64
 3   Bola2                                      2616 non-null   int64
 4   Bola3                                      2616 non-null   int64
 5   Bola4                                      2616 non-null   int64
 6   Bola5                                      2616 non-null   int64
 7   Bola6                                      2616 non-null   int64
 8   Ganhadores 6 acertos                       2616 non-null   int64
 9   Cidade / UF                                569 non-null    object
 10  Rateio 6 acertos                           2616 non-null   object
 11  Ganhadores 5 acertos                       2616 non-null   int64
 12  Rateio 5 acertos                           2616 non-null   object
 13  Ganhadores 4 acertos                       2616 non-null   int64
 14  Rateio 4 acertos                           2616 non-null   object
 15  Acumulado 6 acertos                        2616 non-null   object
 16  Arrecadação Total                          2616 non-null   object
 17  Estimativa prêmio                          2616 non-null   object
 18  Acumulado Sorteio Especial Mega da Virada  2616 non-null   object
 19  Observação                                 894 non-null    object
dtypes: datetime64[ns](1), int64(10), object(9)
memory usage: 408.9+ KB
time: 15 ms (started: 2023-09-07 13:52:42 -03:00)

In [108]:
df.fillna('', inplace=True)

time: 15 ms (started: 2023-09-07 13:52:42 -03:00)

In [109]:
df.replace('\n',' ', regex=True, inplace=True)

time: 31 ms (started: 2023-09-07 13:52:44 -03:00)

In [110]:

dict_col = {'Concurso': 'Concurso', 
            'Data do Sorteio': 'Data Sorteio',
            'Bola1': 'Dez01',
            'Bola2': 'Dez02',
            'Bola3': 'Dez03',
            'Bola4': 'Dez04',
            'Bola5': 'Dez05',
            'Bola6': 'Dez06',
            'Ganhadores 6 acertos': 'Ganhadores Faixa 1',
            'Cidade / UF': 'Cidade',
            'Rateio 6 acertos': 'Rateio Faixa 1',
            'Ganhadores 5 acertos': 'Ganhadores Faixa 2', 
            'Rateio 5 acertos': 'Rateio Faixa 2',
            'Ganhadores 4 acertos': 'Ganhadores Faixa 3',  
            'Rateio 4 acertos': 'Rateio Faixa 3',  
            'Acumulado 6 acertos':'Valor Acumulado Próximo Concurso',
            'Arrecadação Total':'Valor Arrecadado',
            'Estimativa prêmio':'Estimativa para o próximo concurso',
            'Acumulado Sorteio Especial Mega da Virada':'Sorteio Especial',
            'Observação':'Observação'}

time: 0 ns (started: 2023-09-07 13:52:44 -03:00)

In [111]:
df.rename(columns=dict_col,
           inplace=True)

time: 0 ns (started: 2023-09-07 13:52:45 -03:00)

# Preparação da base

In [112]:
def ret_dezenas(d1,d2,d3,d4,d5,d6):
    return [d1,d2,d3,d4,d5,d6]

time: 0 ns (started: 2023-09-07 13:52:46 -03:00)

In [113]:
# df = calc_df

time: 0 ns (started: 2023-09-07 13:52:46 -03:00)

In [114]:
df['dezenas'] = df.apply(lambda x:ret_dezenas(x['Dez01'],x['Dez02'],x['Dez03'], x['Dez04'], x['Dez05'], x['Dez06'],), axis = 1)

time: 63 ms (started: 2023-09-07 13:52:47 -03:00)

In [115]:
df

,Concurso,Data Sorteio,Dez01,Dez02,Dez03,Dez04,Dez05,Dez06,Ganhadores Faixa 1,Cidade,...,Ganhadores Faixa 2,Rateio Faixa 2,Ganhadores Faixa 3,Rateio Faixa 3,Valor Acumulado Próximo Concurso,Valor Arrecadado,Estimativa para o próximo concurso,Sorteio Especial,Observação,dezenas
0,1,1996-11-03,4,5,30,33,41,52,0,,...,17,"R$39.158,92",2016,"R$330,21","R$1.714.650,23","R$0,00","R$0,00","R$0,00",,"[4, 5, 30, 33, 41, 52]"
1,2,1996-03-18,9,37,39,41,43,49,1,PR,...,65,"R$14.424,02",4488,"R$208,91","R$0,00","R$0,00","R$0,00","R$0,00",,"[9, 37, 39, 41, 43, 49]"
2,3,1996-03-25,10,11,29,30,36,47,2,RN; SP,...,62,"R$10.515,93",4261,"R$153,01","R$0,00","R$0,00","R$0,00","R$0,00",,"[10, 11, 29, 30, 36, 47]"
3,4,1996-01-04,1,5,6,27,42,59,0,,...,39,"R$15.322,24",3311,"R$180,48","R$717.080,75","R$0,00","R$0,00","R$0,00",,"[1, 5, 6, 27, 42, 59]"
4,5,1996-08-04,1,2,6,16,19,46,0,,...,98,"R$5.318,10",5399,"R$96,53","R$1.342.488,85","R$0,00","R$0,00","R$0,00",,"[1, 2, 6, 16, 19, 46]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2611,2612,2023-07-19,20,27,34,44,50,54,0,,...,50,"R$90.719,26",3638,"R$1.781,18","R$49.260.663,27","R$78.673.555,00","R$60.000.000,00","R$61.356.654,15",,"[20, 27, 34, 44, 50, 54]"
2612,2613,2023-07-22,14,26,40,42,46,52,0,,...,70,"R$80.398,82",5774,"R$1.392,42","R$59.627.878,97","R$97.612.840,00","R$70.000.000,00","R$62.837.684,98",,"[14, 26, 40, 42, 46, 52]"
2613,2614,2023-07-25,3,8,13,14,19,25,3,CANAL ELETRONICO; CONTAGEM/MG,...,251,"R$18.624,27",12145,"R$549,86","R$26.710.218,14","R$81.079.690,00","R$33.000.000,00","R$64.067.866,59",,"[3, 8, 13, 14, 19, 25]"
2614,2615,2023-07-27,5,7,22,23,41,59,0,,...,82,"R$37.333,91",5737,"R$762,31","R$32.349.603,79","R$53.097.810,00","R$40.000.000,00","R$64.873.493,13",,"[5, 7, 22, 23, 41, 59]"
2615,2616,2023-07-29,6,16,23,35,38,49,0,,...,103,"R$39.221,73",6817,"R$846,58","R$39.791.409,84","R$70.068.555,00","R$50.000.000,00","R$65.936.608,29",,"[6, 16, 23, 35, 38, 49]"

time: 31 ms (started: 2023-09-07 13:52:47 -03:00)

# Métodos matemáticos envolvidos nos calculos

## 1- CalculaParImparSomaDez

In [116]:
def CalculaParImparSomaDez(dezenas):
    cdcl = cd()
    resultado = cdcl.CalculaParImparSomaDez(dezenas)
    return resultado

time: 16 ms (started: 2023-09-07 13:52:49 -03:00)

## 2- CalculaPA

In [117]:
def CalculaPA(dezenas):
    cdcl = cd()
    resultado = cdcl.CalculaPA(dezenas)
    return resultado

time: 0 ns (started: 2023-09-07 13:52:49 -03:00)

## 3 - SomaDigitosDezenas

In [118]:
def SomaDigitosDezenas(dezenas):
    cdcl = cd()
    soma_dos_digitos_das_dezenas, somaok = cdcl.SomaDigitosDezenas(dezenas)
    resultado = soma_dos_digitos_das_dezenas
    return resultado

def SomaDigitosDezenasOk(dezenas):
    cdcl = cd()
    soma_dos_digitos_das_dezenas, somaok = cdcl.SomaDigitosDezenas(dezenas)
    resultado = somaok
    return resultado

time: 16 ms (started: 2023-09-07 13:52:50 -03:00)

## 4- CalculaPresencaDigitos

In [119]:
def CalculaPresencaDigitos_TotalDigitos(dezenas):
    cdcl = cd()
    TotalDigitos, TotalDigitosok = cdcl.CalculaPresencaDigitos(dezenas)
    resultado = TotalDigitos
    return resultado

def CalculaPresencaDigitos_TotalDigitosok(dezenas):
    cdcl = cd()
    TotalDigitos, TotalDigitosok = cdcl.CalculaPresencaDigitos(dezenas)
    resultado = TotalDigitosok
    return resultado

time: 0 ns (started: 2023-09-07 13:52:51 -03:00)

## 5-  CalculaIntervaloDezena

In [120]:
def CalculaIntervaloDezena(dezenas):
    cdcl = cd()
    resultado = cdcl.CalculaIntervaloDezena(dezenas)
    return resultado

time: 0 ns (started: 2023-09-07 13:52:52 -03:00)

## 5- CalculaConsecutivos

In [121]:
def CalculaConsecutivos(dezenas):
    cdcl = cd()
    resultado = cdcl.CalculaConsecutivos(dezenas)
    return resultado

time: 0 ns (started: 2023-09-07 13:52:52 -03:00)

## 6- calculaColunas

In [122]:
# calculaColunas
def calculaColunas(dezenas):
    cdcl = cd()
    resultado = cdcl.calculaColunas(dezenas)
    return resultado

time: 0 ns (started: 2023-09-07 13:52:54 -03:00)

## 7- CalculaLinhas

In [123]:
# CalculaLinhas
def CalculaLinhas(dezenas):
    cdcl = cd()
    resultado = cdcl.CalculaLinhas(dezenas)
    return resultado

time: 16 ms (started: 2023-09-07 13:52:54 -03:00)

## 8 - CalculaQuadraticos

In [124]:
# CalculaQuadraticos
def CalculaQuadraticos(dezenas):
    cdcl = cd()
    resultado = cdcl.CalculaQuadraticos(dezenas)
    return resultado

time: 0 ns (started: 2023-09-07 13:52:55 -03:00)

## 9 - CalculaMultiplos

In [125]:
# CalculaMultiplos
def CalculaMultiplos(dezenas):
    cdcl = cd()
    resultado = cdcl.CalculaMultiplos(dezenas)
    return resultado

time: 0 ns (started: 2023-09-07 13:52:56 -03:00)

## 10 - ContaPrimos

In [126]:
# ContaPrimos
def ContaPrimos(dezenas):
    cdcl = cd()
    resultado = cdcl.ContaPrimos(dezenas)
    return resultado

time: 0 ns (started: 2023-09-07 13:52:57 -03:00)

## 11 - ValidaDezenaNoQuadrante

In [127]:
# ValidaDezenaNoQuadrante
def ValidaDezenaNoQuadrante(dezenas):
    cdcl = cd()
    resultado = cdcl.ValidaDezenaNoQuadrante(dezenas)
    return resultado

time: 0 ns (started: 2023-09-07 13:52:57 -03:00)

## 12 - ValidaFibonacci

In [128]:
# ValidaFibonacci
def ValidaFibonacci(dezenas):
    cdcl = cd()
    resultado = cdcl.ValidaFibonacci(dezenas)
    return resultado

time: 0 ns (started: 2023-09-07 13:52:58 -03:00)

## Criando as colunas calculadas

In [129]:
# CalculaParImparSomaDez
df['parimparsomacalc'] = df.apply(lambda x:CalculaParImparSomaDez(x['dezenas'],), axis = 1)
df['razaoPA'] = df.apply(lambda x:CalculaPA(x['dezenas'],), axis = 1)
df['SomaDigitosDezenas'] = df.apply(lambda x:SomaDigitosDezenas(x['dezenas'],), axis = 1)
df['dezenasespelho'] = df.apply(lambda x:CalculaParImparSomaDez(x['dezenas'],), axis = 1)
df['SomaDigitosDezenas'] = df.apply(lambda x:SomaDigitosDezenas(x['dezenas'],), axis = 1)
df['SomaDigitosDezenasOk'] = df.apply(lambda x:SomaDigitosDezenasOk(x['dezenas'],), axis = 1)
df['TotalDigitos'] = df.apply(lambda x:CalculaPresencaDigitos_TotalDigitos(x['dezenas'],), axis = 1)
df['TotalDigitosok'] = df.apply(lambda x:CalculaPresencaDigitos_TotalDigitosok(x['dezenas'],), axis = 1)
df['CalculaIntervaloDezena_valor'] = df.apply(lambda x:CalculaIntervaloDezena(x['dezenas'],), axis = 1)
df['totConsecutivos_valor'] = df.apply(lambda x:CalculaConsecutivos(x['dezenas'],), axis = 1)
df['TotalColunas_valor'] = df.apply(lambda x:calculaColunas(x['dezenas'],), axis = 1)
df['TotalLinhas_valor'] = df.apply(lambda x:CalculaLinhas(x['dezenas'],), axis = 1)
df['TotNumquadraticos_valor'] = df.apply(lambda x:CalculaQuadraticos(x['dezenas'],), axis = 1)
df['CalculaMultiplosok'] = df.apply(lambda x:CalculaMultiplos(x['dezenas'],), axis = 1)
df['totPrimos_valor'] = df.apply(lambda x:ContaPrimos(x['dezenas'],), axis = 1)
df['DezenaNoQuadrante'] = df.apply(lambda x:ValidaDezenaNoQuadrante(x['dezenas'],), axis = 1)
df['totFibo_valor'] = df.apply(lambda x:ValidaFibonacci(x['dezenas'],), axis = 1)

time: 734 ms (started: 2023-09-07 13:53:00 -03:00)

In [130]:
df['impares'] = df.apply(lambda x:x['parimparsomacalc']['impares'], axis = 1)
df['imparesok'] = df.apply(lambda x:x['parimparsomacalc']['imparesok'], axis = 1)
df['pares'] = df.apply(lambda x:x['parimparsomacalc']['pares'], axis = 1)
df['paresok'] = df.apply(lambda x:x['parimparsomacalc']['paresok'], axis = 1)
df['SomaDezenas'] = df.apply(lambda x:x['parimparsomacalc']['SomaDezenas'], axis = 1)
df['somadasdezenasOk'] = df.apply(lambda x:x['parimparsomacalc']['somadasdezenasOk'], axis = 1)

time: 156 ms (started: 2023-09-07 13:53:01 -03:00)

In [146]:
percent_dez_ini = [i for i in round( ((df.Dez01.value_counts() / df.Dez01.value_counts().sum()).cumsum()) * 100,2) if i <= 80]

time: 0 ns (started: 2023-09-07 14:08:02 -03:00)

In [153]:
percent_dez_ini = lambda x:((df.Dez01.value_counts() / df.Dez01.value_counts().sum()).cumsum())

time: 0 ns (started: 2023-09-07 14:13:36 -03:00)

In [154]:
percent_dez_ini

time: 0 ns (started: 2023-09-07 14:13:46 -03:00)

In [152]:
((df.Dez01.value_counts() / df.Dez01.value_counts().sum()).cumsum()).index

Int64Index([ 1,  2,  4,  3,  5,  7,  6,  8, 10,  9, 11, 12, 13, 14, 15, 17, 16,
            20, 18, 19, 23, 22, 21, 25, 24, 26, 28, 29, 27, 31, 30, 33, 35, 32,
            34, 41, 39, 46, 36, 43, 38, 50, 37],
           dtype='int64')

time: 0 ns (started: 2023-09-07 14:11:13 -03:00)

In [148]:
df.Dez01.loc[
    (df.Dez01.isin(percent_dez_ini))
]

Series([], Name: Dez01, dtype: int64)

time: 16 ms (started: 2023-09-07 14:09:30 -03:00)

In [92]:
def ret_IntervaloDezena(dezenas):
    sorted(dezenas)
    valor1 = dezenas[0]
    valor2 = dezenas[5]
    return (valor1,valor2)

time: 0 ns (started: 2023-09-07 13:51:26 -03:00)

In [94]:
df['totConsecutivos'] = df['totConsecutivos_valor'].apply(lambda x: x[0] if len(x)==2 else x)
df['totConsecutivosok'] = df['totConsecutivos_valor'].apply(lambda x: x[1] if len(x)==2 else x)

time: 0 ns (started: 2023-09-07 13:51:28 -03:00)

In [95]:
df['TotalColunas'] = df['TotalColunas_valor'].apply(lambda x: x[0] if len(x)==2 else x)
df['TotalColunasok'] = df['TotalColunas_valor'].apply(lambda x: x[0] if len(x)==2 else x)

time: 16 ms (started: 2023-09-07 13:51:28 -03:00)

In [96]:
df['TotalLinhas'] = df['TotalLinhas_valor'].apply(lambda x: x[0] if len(x)==2 else x)
df['TotalLinhasok'] = df['TotalLinhas_valor'].apply(lambda x: x[1] if len(x)==2 else x)

time: 0 ns (started: 2023-09-07 13:51:29 -03:00)

In [97]:
df['TotNumquadraticos'] = df['TotNumquadraticos_valor'].apply(lambda x: x[0] if len(x)==2 else x)
df['TotNumquadraticos'] = df['TotNumquadraticos_valor'].apply(lambda x: x[1] if len(x)==2 else x)

time: 0 ns (started: 2023-09-07 13:51:31 -03:00)

In [98]:
df['totPrimos'] = df['totPrimos_valor'].apply(lambda x: x[0] if len(x)==2 else x)
df['totPrimosok'] = df['totPrimos_valor'].apply(lambda x: x[1] if len(x)==2 else x)

time: 0 ns (started: 2023-09-07 13:51:32 -03:00)

In [99]:
df['totFibo'] = df['totFibo_valor'].apply(lambda x: x[0] if len(x)==2 else x)
df['totFibook'] = df['totFibo_valor'].apply(lambda x: x[1] if len(x)==2 else x)

time: 16 ms (started: 2023-09-07 13:51:32 -03:00)

In [100]:
df['DezenaNoQuadranteok'] = df['DezenaNoQuadrante'].apply(lambda x:x[4])

time: 0 ns (started: 2023-09-07 13:51:32 -03:00)

In [ ]:
# df['IntervaloDezena'] = df.apply(lambda x:ret_IntervaloDezena(x['dezenas'],), axis = 1)

In [133]:
df[['CalculaIntervaloDezena_valor']]

      CalculaIntervaloDezena_valor
0                             True
1                            False
2                             True
3                             True
4                            False
...                            ...
2611                          True
2612                          True
2613                         False
2614                          True
2615                          True

[2616 rows x 1 columns]

time: 0 ns (started: 2023-09-07 13:54:01 -03:00)

In [132]:
df.columns

Index(['Concurso', 'Data Sorteio', 'Dez01', 'Dez02', 'Dez03', 'Dez04', 'Dez05',
       'Dez06', 'Ganhadores Faixa 1', 'Cidade', 'Rateio Faixa 1',
       'Ganhadores Faixa 2', 'Rateio Faixa 2', 'Ganhadores Faixa 3',
       'Rateio Faixa 3', 'Valor Acumulado Próximo Concurso',
       'Valor Arrecadado', 'Estimativa para o próximo concurso',
       'Sorteio Especial', 'Observação', 'dezenas', 'parimparsomacalc',
       'razaoPA', 'SomaDigitosDezenas', 'dezenasespelho',
       'SomaDigitosDezenasOk', 'TotalDigitos', 'TotalDigitosok',
       'CalculaIntervaloDezena_valor', 'totConsecutivos_valor',
       'TotalColunas_valor', 'TotalLinhas_valor', 'TotNumquadraticos_valor',
       'CalculaMultiplosok', 'totPrimos_valor', 'DezenaNoQuadrante',
       'totFibo_valor', 'impares', 'imparesok', 'pares', 'paresok',
       'SomaDezenas', 'somadasdezenasOk'],
      dtype='object')

time: 16 ms (started: 2023-09-07 13:53:42 -03:00)

# check

In [ ]:
# parimparsomacalc

In [ ]:
# df.razaoPA.value_counts()

In [ ]:
df.SomaDigitosDezenasOk.value_counts()

In [ ]:
df.TotalDigitos.value_counts()

In [ ]:
df.TotalDigitosok.value_counts()

In [ ]:
df.CalculaIntervaloDezenaok.value_counts()

In [ ]:
# IntervaloDezena
df.IntervaloDezena.value_counts()

In [ ]:
def intervalodezenaOK(d1,d2):
    if d1 in [ 1,  5,  3,  2,  4,  6, 10,  7,  8,  9, 12, 11, 13, 14, 18, 16, 15, 20, 17, 19]:
        if d2 in [60, 59, 58, 54, 57, 56, 53, 55, 51, 49, 52, 50, 48, 44, 47, 45, 41,43, 42, 46]:
            return True
# df['intervaloddezenaok'] = df.apply(lambda x: intervalodezenaOK(x['IntervaloDezena'][0],x['IntervaloDezena'][1]),axis=1 )

In [ ]:
df['intervaloddezenaok'] = df.apply(lambda x: intervalodezenaOK(x['IntervaloDezena'][0],x['IntervaloDezena'][1]),axis=1 )

In [ ]:
# intervalo_dezena = pd.DataFrame(df.IntervaloDezena.value_counts()).reset_index()
# intervalo_dezena['d01'] = intervalo_dezena.apply(lambda x: x['index'][0],axis=1 )
# intervalo_dezena['d02'] = intervalo_dezena.apply(lambda x: x['index'][1],axis=1 )
# intervalo_dezena['percent'] = (intervalo_dezena['IntervaloDezena']/intervalo_dezena['IntervaloDezena'].sum())
# print((intervalo_dezena.d01.value_counts()/intervalo_dezena.d01.value_counts().sum())*100)
# (intervalo_dezena.d01.value_counts()/intervalo_dezena.d01.value_counts().sum().cumsum()) 

# intervalo_dezena

In [ ]:
print( (intervalo_dezena.d01.value_counts()/intervalo_dezena.d01.value_counts().sum()).cumsum().index )
dezini = sorted([ 1,  5,  3,  2,  4,  6, 10,  7,  8,  9, 12, 11, 13, 14, 18, 16, 15,
            20, 17, 19] )
dezini

In [ ]:
print( (intervalo_dezena.d02.value_counts()/intervalo_dezena.d02.value_counts().sum()).cumsum().index )
dezfim = sorted([60, 59, 58, 54, 57, 56, 53, 55, 51, 49, 52, 50, 48, 44, 47, 45, 41,
            43, 42, 46] )
dezfim

In [ ]:
df.totConsecutivos.value_counts()

In [ ]:
# totConsecutivosok
df.totConsecutivosok.value_counts()

In [ ]:
df.TotalColunasok.value_counts()

In [ ]:
df.TotalLinhasok.value_counts()

In [ ]:

df.TotNumquadraticosok.value_counts()

In [ ]:

df.totPrimosok.value_counts()

In [ ]:

df.DezenaNoQuadranteok.value_counts()

In [ ]:

df.totFibook.value_counts()

# Gera analise de todas as possíveis apostas, seus ternos e quadras mais sorteados

## Analise antiga - Não funcionou. 
As apostas dentro dos arquivos ficaram fora da sequencia.

Assim não consigo saber qual das combinações possiui mias ternos sorteados

In [ ]:
def GeraCombinacoes(dezenasSorteios, numDezenas):
    # yield list(itertools.combinations(dezenasSorteios, numDezenas))
    return itertools.combinations(dezenasSorteios, numDezenas)

In [ ]:
df.dezenas

In [ ]:
lista_ternos = []
for i in df.itertuples():
    dezenas = getattr(i, "dezenas")
    for comb in GeraCombinacoes(dezenas,3):
        d = list(comb)
        d.sort()
        lista_ternos.append(d)

In [ ]:
lista_quadras = []
for i in df.itertuples():
    dezenas = getattr(i, "dezenas")
    for comb in GeraCombinacoes(dezenas,4):
        d = list(comb)
        d.sort()
        lista_quadras.append(d)

In [ ]:
lista_quinas = []
for i in df.itertuples():
    dezenas = getattr(i, "dezenas")
    for comb in GeraCombinacoes(dezenas,5):
        d = list(comb)
        d.sort()
        lista_quinas.append(d)

In [ ]:
print(len(lista_ternos))
print(len(lista_quadras))
print(len(lista_quinas))

In [ ]:
df.loc[2614:]

In [ ]:
def conta_ternos(dezenas):
    qtde_ternos = 0
    for terno in lista_ternos:
        qtde = len(list(set(terno) & set(dezenas))) # Encontra os iguais
        if qtde == 3:
            qtde_ternos += 1
    return qtde_ternos

In [ ]:
def conta_quadras(dezenas):
    qtde_quadras = 0
    for terno in lista_quadras:
        qtde = len(list(set(terno) & set(dezenas))) # Encontra os iguais
        if qtde == 4:
            qtde_quadras += 1
    return qtde_quadras

In [ ]:
def conta_quinas(dezenas):
    qtde_quinas = 0
    for terno in lista_quinas:
        qtde = len(list(set(terno) & set(dezenas))) # Encontra os iguais
        if qtde == 5:
            qtde_quinas += 1
    return qtde_quinas

In [ ]:
df['ternos'] = df.apply(lambda x:conta_ternos(x['dezenas'],), axis = 1)
# time: 1min 48s

In [ ]:
df['quadras'] = df.apply(lambda x:conta_quadras(x['dezenas'],), axis = 1)
# time: 1min 23s

In [ ]:
df['quinas'] = df.apply(lambda x:conta_quinas(x['dezenas'],), axis = 1)
# time: 41.8 s

In [ ]:
df.sample(2)

In [ ]:
df.quadras.value_counts()

In [ ]:
df.ternos.value_counts().quantile([0.05, 0.25, 0.50, 0.75, 0.95])

In [ ]:
ternos_df = pd.DataFrame(df.ternos.value_counts())

In [ ]:
# ternos_df['pareto'] = ternos_df['ternos']/ternos_df['ternos'].sum()
# ternos_df['perc_sum'] = (ternos_df['pareto'].cumsum()/ternos_df['pareto'].sum())*100

# ternos_df.columns = ['apostas','pareto','perc_sum']
# ternos_df.reset_index(inplace=True)
ternos_df.columns = ['qtde_vezes_terno','apostas','pareto','perc_sum']
ternos_df

In [ ]:
sorted(ternos_df.loc[
    ternos_df.perc_sum <= 81
].qtde_vezes_terno.values)

In [ ]:
pareto = [42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58]

# Analisa as combinações e os ternos

In [ ]:
import os

In [ ]:
os.getcwd()

In [ ]:
path = r'E:\Arquivos\devops\melhor-aposta-ms-final\multi_proc_final_2023\resultado_teste'

In [ ]:
files = list(filter(os.path.isfile, glob.glob(path + "\*")))
  
# Sorting file list based on the 
# creation time of the files
files.sort(key=os.path.getctime)
  
# Displaying the sorted list
list_df = []
for file in files:
    print(file)
    filecsv_df = pd.read_csv(file)
    print(len(filecsv_df))
    list_df.append(filecsv_df)

final_ternos_df = pd.concat(objs= [dfs for dfs in list_df], ignore_index=True)

In [ ]:
df.index.names = ['Index']
final_ternos_df.index.names = ['Index']
final_ternos_df.columns = ['index_part','qtde_ternos']
final_ternos_df = final_ternos_df[['qtde_ternos']]

In [ ]:
final_ternos_df

In [ ]:
final_ternos_df.reset_index(inplace=True)

In [ ]:
final_ternos_df

In [ ]:
final_ternos_gp_df = final_ternos_df.groupby('qtde_ternos').count().sort_values('qtde_ternos', ascending=False).reset_index()
final_ternos_gp_df

In [ ]:
final_ternos_gp_df['pareto'] = final_ternos_gp_df['qtde_ternos']/final_ternos_gp_df['qtde_ternos'].sum()
final_ternos_gp_df['perc_sum'] = (final_ternos_gp_df['pareto'].cumsum()/final_ternos_gp_df['pareto'].sum())*100
final_ternos_gp_df.columns = ['qtde_ternos','qtde_apostas_com','percent','pareto']
final_ternos_gp_df

In [ ]:
numeros = list(range(1,61))
combinacoes = itertools.combinations(numeros,6)

In [ ]:
combinacoes

In [ ]:
combinacoes_s = pd.Series(combinacoes)

In [ ]:
# del ternos_grupo
ternos_grupo = combinacoes_s[
    list(final_ternos_df.loc[
        final_ternos_df.qtde_ternos == 42
    ].Index.values)    
]

In [ ]:
ternos_grupo

In [ ]:
ternos_grupo_df = pd.DataFrame(ternos_grupo)
ternos_grupo_df.columns = ['dezenas']
ternos_grupo_df

In [ ]:
dezenas = [1, 5, 30, 46, 51, 59]

In [ ]:
# ternos_grupo_df['ternos'] = ternos_grupo_df.apply(lambda x:conta_ternos(x['dezenas']), axis=1)

In [ ]:
conta_ternos(dezenas)

In [ ]:
ternos_grupo_df = ternos_grupo_df.sample(2000)

In [ ]:
# ternos_grupo_df.groupby('ternos').count().sort_values('ternos', ascending=False)

In [ ]:
ternos_grupo_df

In [ ]:
pareto

In [ ]:
def conta_ternos_combinacoes(dezenas):
    qtde_ternos = 0
    for terno in lista_ternos:
        qtde = len(list(set(terno) & set(dezenas))) # Encontra os iguais
        if qtde == 3:
            qtde_ternos += 1
    return qtde_ternos

In [ ]:
ternos_grupo_df['qtde_ternos'] = ternos_grupo_df.apply(lambda x:conta_ternos_combinacoes(x['dezenas']),axis=1)

In [ ]:
temp_df = ternos_grupo_df.loc[
    ternos_grupo_df.qtde_ternos.isin(pareto)
]

In [ ]:
temp_df

In [ ]:
def convert(val):
    return list(val)

In [ ]:
temp_df['dezenas'] = temp_df.apply(lambda x:convert(x['dezenas']),axis=1)

In [ ]:
temp_df

In [ ]:
# CalculaParImparSomaDez
temp_df['parimparsomacalc'] = temp_df.apply(lambda x:CalculaParImparSomaDez(x['dezenas'],), axis = 1)
temp_df['razaoPA'] = temp_df.apply(lambda x:CalculaPA(x['dezenas'],), axis = 1)
temp_df['SomaDigitosDezenas'] = temp_df.apply(lambda x:SomaDigitosDezenas(x['dezenas'],), axis = 1)
temp_df['dezenasespelho'] = temp_df.apply(lambda x:CalculaParImparSomaDez(x['dezenas'],), axis = 1)
temp_df['SomaDigitosDezenas'] = temp_df.apply(lambda x:SomaDigitosDezenas(x['dezenas'],), axis = 1)
temp_df['SomaDigitosDezenasOk'] = temp_df.apply(lambda x:SomaDigitosDezenasOk(x['dezenas'],), axis = 1)
temp_df['TotalDigitos'] = temp_df.apply(lambda x:CalculaPresencaDigitos_TotalDigitos(x['dezenas'],), axis = 1)
temp_df['TotalDigitosok'] = temp_df.apply(lambda x:CalculaPresencaDigitos_TotalDigitosok(x['dezenas'],), axis = 1)
temp_df['CalculaIntervaloDezenaok'] = temp_df.apply(lambda x:CalculaIntervaloDezena(x['dezenas'],), axis = 1)
temp_df['totConsecutivos'] = temp_df.apply(lambda x:CalculaConsecutivos(x['dezenas'],), axis = 1)
temp_df['TotalColunas'] = temp_df.apply(lambda x:calculaColunas(x['dezenas'],), axis = 1)
temp_df['TotalLinhas'] = temp_df.apply(lambda x:CalculaLinhas(x['dezenas'],), axis = 1)
temp_df['TotNumquadraticos'] = temp_df.apply(lambda x:CalculaQuadraticos(x['dezenas'],), axis = 1)
temp_df['CalculaMultiplosok'] = temp_df.apply(lambda x:CalculaMultiplos(x['dezenas'],), axis = 1)
temp_df['totPrimos'] = temp_df.apply(lambda x:ContaPrimos(x['dezenas'],), axis = 1)
temp_df['DezenaNoQuadrante'] = temp_df.apply(lambda x:ValidaDezenaNoQuadrante(x['dezenas'],), axis = 1)
temp_df['totFibo'] = temp_df.apply(lambda x:ValidaFibonacci(x['dezenas'],), axis = 1)

In [ ]:
def get_impares(campo):
    return campo['impares']
def get_imparesok(campo):
    return campo['imparesok']
def get_pares(campo):
    return campo['pares']
def get_paresok(campo):
    return campo['paresok']
def get_SomaDezenas(campo):
    return campo['SomaDezenas']
def get_somadasdezenasOk(campo):
    return campo['somadasdezenasOk']

In [ ]:
temp_df['impares'] = temp_df.apply(lambda x:get_impares(x['parimparsomacalc'],), axis = 1)
temp_df['imparesok'] = temp_df.apply(lambda x:get_imparesok(x['parimparsomacalc'],), axis = 1)
temp_df['pares'] = temp_df.apply(lambda x:get_pares(x['parimparsomacalc'],), axis = 1)
temp_df['paresok'] = temp_df.apply(lambda x:get_paresok(x['parimparsomacalc'],), axis = 1)
temp_df['SomaDezenas'] = temp_df.apply(lambda x:get_SomaDezenas(x['parimparsomacalc'],), axis = 1)
temp_df['somadasdezenasOk'] = temp_df.apply(lambda x:get_somadasdezenasOk(x['parimparsomacalc'],), axis = 1)

In [ ]:
def ret_valor(campo):
    if len(campo) == 2:
        return campo[1]
    else: return campo

In [ ]:
def ret_IntervaloDezena(dezenas):
    sorted(dezenas)
    valor1 = dezenas[0]
    valor2 = dezenas[5]
    return (valor1,valor2)

In [ ]:
def ret_DezenaNoQuadranteok(campos):
    return campos[4]

In [ ]:
temp_df['totConsecutivosok'] = temp_df.apply(lambda x:ret_valor(x['totConsecutivos'],), axis = 1)
temp_df['TotalColunasok'] = temp_df.apply(lambda x:ret_valor(x['TotalColunas'],), axis = 1)
temp_df['TotalLinhasok'] = temp_df.apply(lambda x:ret_valor(x['TotalLinhas'],), axis = 1)
temp_df['TotNumquadraticosok'] = temp_df.apply(lambda x:ret_valor(x['TotNumquadraticos'],), axis = 1)
temp_df['totPrimosok'] = temp_df.apply(lambda x:ret_valor(x['totPrimos'],), axis = 1)
temp_df['DezenaNoQuadranteok'] = temp_df.apply(lambda x:ret_DezenaNoQuadranteok(x['DezenaNoQuadrante'],), axis = 1)
temp_df['totFibook'] = temp_df.apply(lambda x:ret_valor(x['totFibo'],), axis = 1)

In [ ]:
temp_df['IntervaloDezena'] = temp_df.apply(lambda x:ret_IntervaloDezena(x['dezenas'],), axis = 1)

In [ ]:
def intervalodezenaOK(d1,d2):
    res = False
    if d1 in [ 1,  5,  3,  2,  4,  6, 10,  7,  8,  9, 12, 11, 13, 14, 18, 16, 15, 20, 17, 19]:
        if d2 in [60, 59, 58, 54, 57, 56, 53, 55, 51, 49, 52, 50, 48, 44, 47, 45, 41,43, 42, 46]:
            res = True
    return res
    
temp_df['intervaloddezenaok'] = temp_df.apply(lambda x: intervalodezenaOK(x['IntervaloDezena'][0],x['IntervaloDezena'][1]),axis=1 )

In [ ]:
def ultimo_sorteiook(val):
    ultimo_sorteio = [11,32,35,40,41,48]
    res = len(set(val) & set (ultimo_sorteio))
    if res == 0:
        return True
    else:
        return False

In [ ]:
temp_df['ultimosorteiook'] = temp_df.apply(lambda x: ultimo_sorteiook(x['dezenas']),axis=1 )

In [ ]:
temp_df.columns

In [ ]:
colunas = ['dezenas','qtde_ternos','razaoPA',
           'SomaDigitosDezenasOk','TotalDigitosok','CalculaIntervaloDezenaok',
          'CalculaMultiplosok','imparesok','paresok',
          'somadasdezenasOk','totConsecutivosok','TotalColunasok',
          'TotalLinhasok','TotNumquadraticosok','totPrimosok',
          'DezenaNoQuadranteok','totFibook','intervaloddezenaok']
temp_df[colunas].head(1)

In [ ]:
df_definitivo = temp_df[['dezenas']].loc [
    (temp_df['razaoPA'] == True)
    & (temp_df['SomaDigitosDezenasOk'] == True)
    
    & (temp_df['TotalDigitosok'] == True)
    & (temp_df['SomaDigitosDezenasOk'] == True)
    & (temp_df['CalculaIntervaloDezenaok'] == True)
    & (temp_df['CalculaMultiplosok'] == True)
    & (temp_df['imparesok'] == True)
    & (temp_df['paresok'] == True)
    & (temp_df['somadasdezenasOk'] == True)
    & (temp_df['totConsecutivosok'] == True)
    & (temp_df['TotalColunasok'] == True)
    & (temp_df['TotalLinhasok'] == True)
    & (temp_df['TotNumquadraticosok'] == True)
    & (temp_df['totPrimosok'] == True)
    & (temp_df['DezenaNoQuadranteok'] == True)
    & (temp_df['totFibook'] == True)
    & (temp_df['intervaloddezenaok'] == True)
    & (temp_df['ultimosorteiook'] == True)
    

]

In [ ]:
df_definitivo